<template>
    <div class="customTable">
        <b-table v-if="records.length > 1" striped hover :items="records"></b-table>
    </div>
</template>

<script>
import { EventBus } from './../event-bus.js';
import { format, subWeeks } from 'date-fns';
import axios from 'axios';

export default {

    'name': 'bitCoinTable',

    data() {

        return {

            records: [
                {'Date': 'EUR'}
            ],
        }
    },

    methods: {

        /**
         * get all needed dates
         */
        getDates() {

            const now = new Date();
            const dateFormat = 'y-MM-d';
            const todaysDate = format(now, dateFormat);
            const twoWeeksAgo = format(subWeeks(now, 2), dateFormat);

            return [twoWeeksAgo, todaysDate]
        },
        
        /**
         * calls all methods to fetch needed data
         */
        fetchAllData() {

            this.records = [];
            
            this.callPreviousBitCoinData();
            this.callCurrentBitCoinData();
        },
        
        /**
         * gets data for the previous 14 days
         */
        callPreviousBitCoinData() {

            const dates = this.getDates();
            const startDate = dates[0];
            const endDate = dates[1];

            const getUrl = 'https://api.coindesk.com/v1/bpi/historical/close.json?currency=EUR&start=' + startDate  + '&end=' + endDate;
            
            axios.get(getUrl)
            .then( (response) => {
                
                let oBpi = response.data.bpi;
                for (const [Date, EUR] of Object.entries(oBpi)) {
                    this.records.push({Date, EUR});
                }
            })
            .catch( (error) => {

                console.log(error);
            });
        },

        /**
         * gets the current rate in EUR
         */
        callCurrentBitCoinData() {

            const getUrl = 'https://api.coindesk.com/v1/bpi/currentprice/EUR.json';

            axios.get(getUrl)
            .then( (response) => {

                let obj = {today: response.data.bpi.EUR.rate_float}
                if (this.records.length >= 14) {

                    this.records.pop();
                }

                for (const [Date, EUR] of Object.entries(obj)) {
                    this.records.push({Date, EUR});
                }
            })
            .catch( (error) => {

                console.log(error);
            });
        }
    },

    mounted () {

        /** event listeners */
        EventBus.$on('requestBtnClicked', () => {this.fetchAllData()} );
        EventBus.$on('refreshBtnClicked', () => {this.callCurrentBitCoinData()} );
    }
}
</script>

<style lang="css" scoped>

.customTable {
    margin-left: 10%;
    margin-right: 10%;
}
</style>