<template>
  <b-button :variant="variant" @click="clickFunction">
      {{text}}
  </b-button>
</template>

<script>
import {EventBus} from './../event-bus.js';

export default {
    'name': 'CustomBtn',

    props: {

        text: '',
        btnName: '',
        variant: ''
    },

    methods: {

        clickFunction() {

            EventBus.$emit(this.btnName + 'Clicked');
        }
    }
}

</script>

<style lang="css" scoped>

button {
    margin-right: 10px;
    margin-bottom: 20px;
}

</style>