<template>
  <div id="app">
    <h2>BitCoin-EUR-Checker</h2>
    <custom-btn btnName="requestBtn" variant="primary" text="Get Data"></custom-btn>
    <custom-btn v-if="showRefreshBtn" btnName="refreshBtn" variant="success" text="refresh Current Value"></custom-btn>
    <bit-coin-table></bit-coin-table>
  </div>
</template>

<script>
import bitCoinTable from "./components/bitCoinTable";
import customBtn from "./components/customBtn";
import { EventBus } from './event-bus';

export default {

  name: 'app',

  components: {
    bitCoinTable,
    customBtn
  },

  data() {

    return {

      showRefreshBtn: false
    }
  },

  mounted() {

    EventBus.$on('requestBtnClicked', () => {this.showRefreshBtn = true;})
  }
}
</script>

<style>
  #app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
  }

</style>